*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(60, 61, 58) ;
    padding-top: 3rem;
}
#screen{
    justify-self: center;
    width:21rem;
    height: 3rem;
    margin-bottom: 7px;
    text-align: right;
    font-size: 2rem;
    color: black;
}
.divscreen{
    display: flex;
    justify-content: center;
}
.div1{
    justify-content: center;
    max-width: 500px;
    margin: auto;
    background-color: rgb(12, 11, 11);
    padding-top: 1rem;
    border: 2px solid black;
    height: 500px;
}
.row1, .row2, .row3, .row4, .row5{
    display: flex;
    justify-content: center;
}
.key{
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    border: white;
    margin: 2px;
    font-size: 28px;
    color: white; 
    background-color: rgb(66, 65, 65);
}
#clear, #del{
    color: white;
    background-color: rgb(141, 132, 132);
}
#sqrt, #plus, #minus, #divide, #multiply{
    background-color: rgb(255, 160, 0);
}
#equalTo{
    width: 160px
}
